<div data-hook="new_subscription">
  <fieldset class="no-border-bottom">
    <legend><%= t('.subscription') %></legend>

    <div data-hook="admin_subscription_form_fields">
      <% if f.object.new_record? %>
        <div class="field">
          <%= f.label :user_id, I18n.t('spree.user'), class: "required" %>
          <%= f.collection_select :user_id,  Spree.user_class.all, :id, :email, {}, class: "select2 fullwidth" %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :actionable_date %>
        <%= f.text_field :actionable_date, class: "form-control fullwidth datepicker" %>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="field">
            <%= f.label :interval_length %>
            <%= f.number_field :interval_length, class: "form-control fullwidth" %>
          </div>
        </div>

        <div class="col-6">
          <div class="field">
            <%
              unit_values = SolidusSubscriptions::LineItem.interval_units.keys
              units = unit_values.map do |unit|
                [
                    SolidusSubscriptions::LineItem.human_attribute_name("interval_units.#{unit}"),
                    unit,
                ]
              end
            %>

            <%= f.label :interval_units %>
            <%= f.select(:interval_units, units, {}, class: 'fullwidth select2') %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, class: "fullwidth datepicker" %>
      </div>

      <div class="field">
        <%= f.label :store_id %>
        <%= f.collection_select :store_id, Spree::Store.all, :id, :name, {}, class: 'fullwidth select2' %>
      </div>
    </div>
  </fieldset>

  <% if @subscription.persisted? && @subscription.user %>
    <div class="js-edit-subscription-payment">
      <fieldset class="no-border-bottom">
        <legend><%= t('spree.admin.subscriptions.edit.payment') %></legend>

        <div class="field">
          <%= f.label :payment_method %>
          <%= f.select :payment_method_id, @payment_methods.map { |pm| [pm.name, pm.id] }, { include_blank: true }, class: 'select2 fullwidth' %>
        </div>

        <div class="field">
          <%= f.label :payment_source %>
          <%= f.select :payment_source_id, nil, {}, class: 'select2 fullwidth' do %>
            <option<% if @subscription.payment_source.nil? %> selected<% end %>></option>
            <% @subscription.user.wallet_payment_sources.select { |wps| wps.payment_source.reusable? }.each do |wps| %>
              <option
                value="<%= wps.payment_source_id %>"
                data-js-payment-method-id="<%= wps.payment_source.payment_method.id %>"
                <% if @subscription.payment_source == wps.payment_source %> selected<% end %>
              >
                <% if wps.payment_source.respond_to?(:display_number) %>
                  <%= wps.payment_source.display_number %> (<%= wps.payment_source.gateway_customer_profile_id %>)
                <% else %>
                  <%= wps.payment_source.gateway_customer_profile_id %>
                <% end %>
              </option>
            <% end %>
          <% end %>
        </div>
      </fieldset>
    </div>
  <% end %>

  <div class="js-customer-details">
    <div class="row">
      <div class="col-6">
        <fieldset class="no-border-bottom">
          <legend align="center"><%= t('spree.shipping_address') %></legend>

          <div class="js-shipping-address">
            <%= f.fields_for :shipping_address do |sa_form| %>
              <%= render partial: 'spree/admin/shared/address_form', locals: { f: sa_form, type: "shipping" } %>
            <% end %>
          </div>
        </fieldset>
      </div>

      <div class="col-6">
        <fieldset class="no-border-bottom">
          <legend align="center"><%= t('spree.billing_address') %></legend>
          <div class="js-billing-address">
            <%= f.fields_for :billing_address do |ba_form| %>
              <%= render partial: 'spree/admin/shared/address_form', locals: { f: ba_form, type: "billing" } %>
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <fieldset>
    <legend><%= t('.subscription_line_items') %></legend>

    <%= f.fields_for :line_items do |lf| %>
      <div class="row">
        <div class="col-8">
          <div class="field">
            <%= lf.label :subscribable_id %>
            <%= lf.collection_select :subscribable_id, Spree::Variant.where(subscribable: true), :id, :pretty_name, {}, { class: "fullwidth select2" } %>
          </div>
        </div>

        <div class="col-2">
          <div class="field">
            <%= lf.label :quantity %>
            <%= lf.number_field :quantity, min: 1, class: "form-control fullwidth" %>
          </div>
        </div>

        <div class="col-2">
          <div class="field align-center">
            <%= lf.label :_destroy %>
            <%= lf.check_box :_destroy, class: "form-control", disabled: lf.object.new_record? %>
          </div>
        </div>
      </div>
    <% end %>

    <% if f.object.new_record? %>
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    <% else %>
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    <% end %>
  </fieldset>
</div>
