<% content_for(:page_title) { t('.title') } %>

<% content_for :page_actions do %>
  <li><%= button_link_to t('.back'), admin_subscriptions_path %></li>
<% end %>

<% content_for :sidebar_title do %>
  Details
<% end %>

<% content_for :sidebar do %>
  <%= render 'spree/admin/subscriptions/legacy_sidebar' if @subscription.respond_to?(:line_item) %>
<% end %>

<%= form_for @subscription, url: spree.admin_subscription_path(@subscription) do |f| %>
  <% if f.object.respond_to?(:line_items) %>
    <%= render "form", f: f %>
  <% else %>
    <%= render "legacy_form",  f: f %>
  <% end %>
<% end %>
