<% if respond_to?(:admin_breadcrumb) %>
  <% admin_breadcrumb(SolidusSubscriptions::Subscription.model_name.human) %>
<% else %>
  <% content_for(:page_title, SolidusSubscriptions::Subscription.model_name.human) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to t('.new_subscription'), new_admin_subscription_path %></li>
<% end %>

<% content_for :table_filter_title do %>
  <%= I18n.t('spree.search') %>
<% end %>

<% content_for :table_filter do %>
  <%= search_form_for [:admin, @search] do |f| %>
    <div class='field-block alpha four columns'>
      <div class="date-range-filter field">
        <%= label_tag :q_created_at_gt, I18n.t('spree.date_range') %>
        <div class="date-range-fields">
          <%= f.text_field :created_at_gt, class: 'datepicker datepicker-from', placeholder: I18n.t('spree.start') %>

          <span class="range-divider">
            <i class="fa fa-arrow-right"></i>
          </span>

          <%= f.text_field :created_at_lt, class: 'datepicker datepicker-to', placeholder: I18n.t('spree.stop') %>
        </div>
      </div>

      <div class="date-range-filter field">
        <%= label_tag :q_actionable_date_gt, SolidusSubscriptions::Subscription.human_attribute_name(:actionable_date) %>
        <div class="date-range-fields">
          <%= f.text_field :actionable_date_gt, class: 'datepicker datepicker-from', placeholder: I18n.t('spree.start') %>

          <span class="range-divider">
            <i class="fa fa-arrow-right"></i>
          </span>

          <%= f.text_field :actionable_date_lt, class: 'datepicker datepicker-to', placeholder: I18n.t('spree.stop') %>
        </div>
      </div>
    </div>

    <div class="four columns">
      <div class="field">
        <%= label_tag :q_state_eq, I18n.t('spree.status') %>
        <%= f.select :state_eq, SolidusSubscriptions::Subscription.state_machines[:state].states.map {|s| [s.human_name, s.value]}, {include_blank: true}, class: 'select2 fullwidth' %>
      </div>
    </div>

    <div class="four columns">
      <div class="field">
        <%= label_tag :q_user_email_cont, Spree::User.human_attribute_name(:email) %>
        <%= f.text_field :user_email_cont, size: 25 %>
      </div>
    </div>

    <div class="omega four columns">
      <div class="field">
        <%= label_tag :q_processing_state_eq, SolidusSubscriptions::Subscription.human_attribute_name(:processing_state) %>

        <%
          processing_states = SolidusSubscriptions::Subscription.processing_states.map do |state|
            [
              SolidusSubscriptions::Subscription.human_attribute_name("processing_state.#{ state }"),
              state
            ]
          end
        %>

        <%=
          f.select(
            :in_processing_state,
            options_for_select(processing_states),
            { include_blank: true },
            class: 'select2 fullwidth'
          )
        %>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="actions filter-actions">
      <div><%= button_tag I18n.t('spree.filter_results') %></div>
    </div>
  <% end %>
<% end %>

<% if Spree.respond_to?(:solidus_version) && (Spree.solidus_gem_version <=> Gem::Version.new('1.3.0')) >= 0  %>
  <%= paginate @subscriptions, theme: 'solidus_admin' %>
<% else %>
  <%= paginate @subscriptions %>
<% end %>

<% if @subscriptions.any? %>
  <table id="listing_subscriptions" class="index">
    <thead>
      <tr>
        <th><%= sort_link(@search, :created_at, SolidusSubscriptions::Subscription.human_attribute_name(:created_at)) %></th>
        <th><%= sort_link(@search, :user_email, SolidusSubscriptions::Subscription.human_attribute_name(:user)) %></th>
        <th><%= sort_link(@search, :actionable_date, [:actionable_date, 'id asc'], SolidusSubscriptions::Subscription.human_attribute_name(:actionable_date)) %></th>
        <th><%= sort_link(@search, :line_item_interval_length, SolidusSubscriptions::Subscription.human_attribute_name(:interval)) %></th>
        <th><%= sort_link(@search, :state, [:state, 'id asc'], SolidusSubscriptions::Subscription.human_attribute_name(:state)) %></th>
        <th><%= sort_link(@search, :processing_state, [:processing_state, 'id asc'], SolidusSubscriptions::Subscription.human_attribute_name(:processing_state)) %></th>
        <th class='actions'></th>
      </tr>
    </thead>

    <tbody>
      <%= render @subscriptions %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found', resource: SolidusSubscriptions::Subscription, new_resource_url: spree.new_admin_subscription_path %>
  </div>
<% end %>
