<% if @product.subscribable %>
  <%= content_tag :h3, t('.subscription_fields') %>
  <%= fields_for :'subscription_line_item', SolidusSubscriptions::LineItem.new do |ff| %>
    <div>
      <%= ff.label :quantity, t('.quantity') %>
      <%= ff.number_field :quantity %>
      <%= ff.label :quantity, t('.quantity_suffix') %>
    </div>

    <div>
      <%= ff.label :interval_length, t('.interval_length') %>
      <%= ff.number_field :interval_length %>

      <%= ff.collection_radio_buttons :interval_units, SolidusSubscriptions::LineItem.interval_units.to_a, :first, :first %>
    </div>

    <%= ff.hidden_field :subscribable_id %>
  <% end %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function(e) {
    var cartForm = document.querySelector('form[action="/cart_line_items"]');

    cartForm.addEventListener('submit', function(e) {
      var variantInput = e.target.querySelector('[name*="variant_id"]:checked');
      var subscribableInput = e.target.querySelector('[name*="subscription_line_item[subscribable_id]"]');

      if (!variantInput) {
        variantInput = cartForm.querySelector('[name="variant_id"]');
      }

      subscribableInput.value = variantInput.value;

      return true;
    });
  });
</script>

